//Importing the style guide
@import "./custom";

// buttons
//Styles for outline button
@mixin btn-outline {
  border: 2px solid $medium-gray;
  background: transparent;
  color: $medium-gray;
  border-radius: 18px;
  padding: 0.9rem 1.9rem;
  font-weight: 500;
}

//Styles for background
@mixin btn-background {
  border: 2px solid $almost-black;
  background: $almost-black;
  color: $almost-white;
  padding: 0.9rem 1.9rem;
  border-radius: 18px;
  font-weight: 500;
}
