@font-face {
    font-family: 'epilogue-bold',Arial, sans-serif;;
    src: url('./fonts/Epilogue/static/Epilogue-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: 'epilogue-semi-bold',Arial, sans-serif;;
    src: url('./fonts/Epilogue/static/Epilogue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

