//Importing fonts
@font-face {
    font-family: 'epilogue-regular', sans-serif;
    src: url('./fonts/Epilogue/static/Epilogue-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: "Epilogue-bold";
    src: url('../fonts/Epilogue/static/Epilogue-Bold.ttf') format('truetype'),
    url('./fonts/Epilogue/Epilogue-Bold.woff2') format('woff2'), 
    url('./fonts/Epilogue/Epilogue-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal; 
    font-display: swap;
}

