/* styles for the main section*/
// Importing the mixin and typography
@import "../mixin";
@import "../typography";
// Hero section styles stars
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 35px;
  padding: 0 !important;

  @include media-breakpoint-up(lg) { // Larger screens
    flex-direction: row;
    gap: 200px;
    max-width: 1164px;
    margin: 79px auto 120px;
  }

  .hero-content {
    margin-top: 46px;
    text-align: center;

    @include media-breakpoint-up(lg) { // Larger screens
      text-align: left;
    }

    .heading {
      font-size: 2rem;
      font-family: $brand-font;
      font-weight: 700;
      margin-bottom: 1.5rem;

      @include media-breakpoint-up(lg) { // Larger screens
        font-size: 4.6rem;
        line-height: 5rem;
        text-align: left;
        max-width: 100%;
      }
    }

    p {
      padding: 0 20px;
      line-height: 25px;
      margin-bottom: 3.5rem;
      color: $medium-gray;

      @include media-breakpoint-up(lg) { // Larger screens
        padding: 0;
        margin-right: 21px;
      }
    }

    button {
      @include btn-background;
      margin-bottom: 48px;

      &:hover {
        @include btn-outline;
        transition: all 350ms ease-in-out;
      }

      &:active {
        @include btn-outline;
      }
    }

    .logo-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 27px;
      margin: 0 12px 99px 12px;

      @include media-breakpoint-up(lg) {
        margin: 0 0 99px 0;
        justify-content: space-between;
      }

      a {
        img {
          width: 100%;
        }
      }
 
    }
  }

  .hero-image {
    picture {
      .mobile-img {
        max-width: 100%;

        @include media-breakpoint-up(md) {
          display: flex;
          margin: auto;
          width: 100%;
        }
      }
    }
  }
}
